* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: azure;
    font-size: 18px;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    margin: 50px;
}

/* header */ 
.header {
    display: grid;
    grid-template-areas: 
    'hero hero feature 1'
    'hero hero feature 2';
}

.hero {
    grid-area: hero;
    min-height: 350px;
    background-image: url(img/hero.png);
    background-size: cover;
}
